@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Merienda');


header {
    font-family: Helvetica, sans-serif;
    text-align: left;
    padding: 26px;
    box-shadow: 0px 15px 139px rgba(0, 0, 0, 0.1);
    
    position: fixed;
    top: 0px;
    width: 100vw;
    display: inline-block;
   
}
body{
	background-image: url(home/bghome.jpg);
	    background-repeat: no-repeat;
	    background-size: 100%;
}


p{
	 display: block;
    -webkit-margin-before: -3em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 547px;
    -webkit-margin-end: 56px;
}

.nav{

  font-family: 'PT Serif', serif;
  top: 50px;
  white-space: pre;
  color: #7ab1cc;
  font-style:italic;
  margin-top: 40px;
  font-size: 0.95em;
  line-height: .5em;
 
}
.nav a{
	color: #7ab1cc;
	
}
.home{
	font-size: 2.00em;
	color: #000000;
	margin-left:240px;
}

a:link{
	 text-decoration:none;
}
a:hover{
	 color: #808080; 
	 transition: opacity 0.3s;
}
.logoplace{
	    margin-left: 302px;
    padding: 7px 0px 1px;
}

.card-container {
 cursor: pointer;
    perspective: 600;
    position: relative;
    margin-top: -18px;
    width: 80px;
    height: 42px;
    margin-left: 751px;
   
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .github {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 80%;
  margin-left: 17px;
}
.card .back {
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
    width: 80px;
    height: 42px;

}

.logo {
	height:42px;
}
.linkedln {
	     margin-top: -42px;
    width: 80px;
    height: 42px;
    margin-left: 809px;

}
.card-container2 {
 cursor: pointer;
    perspective: 600;
    position: relative;
    margin-top: -42px;
    width: 77px;
    height: 42px;
    margin-left: 831px;
   
}
.card2 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card2:hover {
  transform: rotateY(180deg);
}
.back2 .logo{
	 height:58px;
}
.linkedln .logo{
	height:58px;
}

.card2 .linkedln {
 backface-visibility: hidden;
    border-radius: 6px;
    height: 130%;
    position: absolute;
    overflow: hidden;
    width: 72%;
    margin-top: -9%;
    margin-left: 8%;
}
.card2 .back2 {
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
    width: 80px;
    height: 42px;
    margin-top: -9%;
    margin-left: -8%;

}
.stackoverflow {
	margin-top: -23px; 
    width: 47px; height:42px;
}
.card-container3 {
 cursor: pointer;
    perspective: 600;
    position: relative;
    margin-top: -42px;
    width: 77px;
    height: 42px;
    margin-left: 911px;
   
}
.card3 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card3:hover {
  transform: rotateY(180deg);
}
.card3 .stackoverflow {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 56%;
  margin-top: 0%;
    margin-left: 3%;
    background-color: rgba(248, 248, 248, 1);
}
.card3 .back3 {
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
    width: 80px;
    height: 42px;
    margin-left: 10px;

}


.name-block-container{
border: 1px solid rgba(51, 51, 51, 0.4);
transform: rotate(-34deg);
    left: -190px;
    top: 10px;
    position: absolute;
    width: 700px;
    height: 700px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: table;
    transition: all 0.5s;
    z-index: 1;
}
.name-block{
	display: table-cell;
    vertical-align: middle;
    padding-left: 240px;
    -ms-transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg);
}

.me{
	border-radius: 66%;
    width: 13em;
    padding: 0em 2em;
    float: left;
    margin-top: 60px;
}
.intro{
	line-height: 1.8em;
    display: block;
    width: 62vw;
    margin: 4.8em auto;
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: Karla;
  
    
}


#topbar {
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
  height: 13px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
  width:6%;
}
#topbar a {
  color: #3feee6;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}
#topbar a:hover {
  opacity: 1;
}
 
#tophiddenbar {
  display: block;
  width: 100%;
  background: #4f4a41;
  color: #b09f82;
  font-weight: bold;
  padding: 17px 0; 
  font-size: 1.3em;
  text-align: center;
  text-shadow: 1px 1px 0 #444;
}
#tophiddenbar a {
  color: #fff;
  font-size: 1.0em;
  text-decoration: none;
  opacity: 0.5;
  text-shadow: none;
}
#tophiddenbar a:hover { opacity: 1; }
 
#topbar:hover { height: 50px; }
